.body_backgorund 
{
    background-image:url('hOye.gif');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
#myCanvas
{
border-width: 10px;
background-color: white;
border-style: ridge;
border-color: darkviolet; 
}
#HAPPYBIRTHDAY
{
	width: 200px;
	border-radius: 10px;
	margin-bottom: 10px;
}